:root {
    /* Adding the root styles as variables to make it easier to add them to the main css */
    box-sizing: border-box;
    /* background-color: red; */
    --title: 3rem;
    --header: 1.125rem;
    --body: 16px;
    --intro-text: 1.125rem;
    --buttonnav: .9rem;
    --orange: #F18119;
    --black: #000000;
    --grey: #404040;
    --lightgrey: #ebebeb;
    --yellow: #FFE600;
    --white: #FFF;
    --bolder: 700;
    --mainfont: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: var(--mainfont);
    font-size: 1rem;
    color: var(--grey);
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

/* Typography */

h1,
h2,
strong {
    font-weight: var(--bolder);
}

.accent-color {
    color: var(--yellow);
}

.hero-title {
    font-size: var(--header);
    line-height: 1.4;
    margin-bottom: 0;
}

.section-title {
    font-size: var(--header);
    color: var(--black);
    margin-top: 1.25em;
}

.section-title::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 10px;
    background: var(--yellow);
}

.section-title-center::after {
    margin-left: auto;
    margin-right: auto;
}

.section-title:first-child {
    margin-top: 0;
}

/* buttons */
.btn {
    padding: .5em 1.75em;
    font-weight: var(--bolder);
    margin-top: .5em;
    text-decoration: none;
}

.btn-primary {
    background: var(--yellow);
    color: var(--black);
    justify-self: start;
}

/* main grid */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}

@media (min-width: 600px) {
    /* Main grid media query was causing the alignment issues so I left the main grid the same at 600px and just applied this to the hero grid */
    .hero-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(1em, 1fr);
    }
}

/* navigation */

.header {
    background: var(--black);
}

.header-home {
    background: transparent;
    position: absolute;
    width: 100%;
}



.header-content {
    display: flex;
    grid-column: 2 / -2;
}

.logo-link {
    background-color: var(--yellow);
    padding-top: 2em;
    /* transform: translate(100px, 100px); */
}

.nav {
    position: fixed;
    background: var(--black);
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
}

.navigation-open {
    transform: translateX(-100%);
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--title);
    font-weight: var(--bolder);
}

.nav-link:hover,
.nav-link:focus {
    color:var(--yellow);
}

.close-nav {
    border: 0;
    background: 0;
    color: var(--yellow);
    font-weight: var(--bolder);
    font-size: var(--title);
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav {
    border: 0;
    background: 0;
    color: var(--black);
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.5em;
}

@media (min-width: 600px) {
    .open-nav,
    .close-nav {
        display: none;
    }

    .nav {
        position: initial;
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav-item {
        margin-left: 2em;
    }

    .nav-link {
        font-size: var(--body);
    }

    .header-home .nav {
        background: transparent;
    }
}

/* footer */

.footer {
    background: var(--lightgrey);
    padding: 4em 0;
    text-align: center;

    grid-template-areas: 
        ". social ."
        ". main .";
}

.footer-main {
    grid-area: main;
}

.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.footer-logo,
.footer-text,
.footer-fineprint {
    opacity: .4;
}

.footer-fineprint {
    font-size: .75rem;
    margin-top: 4em;
}

.social-list {
    grid-area: social;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

.social-links {
    justify-content: space-between;
}

.social-link {
    color:var(--black);
    font-size: 1.75rem;
    margin: 0 .5em;
}

.social-link:hover {
    color: var(--grey);
}

@media (min-width: 600px) {
    .footer {
        grid-template-areas: 
        ". main main social .";
    }

    .footer-main {
        text-align: left;
    }

    .social-list {
        justify-content: flex-end;
    }
}

/* hero area */

.hero {
    
    background-image: url(img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 8em 0 4em;
}

.hero > * {
    grid-column: 2 / -2;
    /* This puts the content in the middle of colum of the grid */
}

@media (min-width: 600px) {
    .hero {
        padding: 10em 0 6em;
    }
    
    .hero > * {
        grid-column: 2 / span 2;
    }
}

/* info */

.info {
    padding: 4em 0;
    text-align: center;
}

.col {
    grid-column: 2 / -2;
}

@media (min-width: 600px) {
    .col {
        grid-column: span 1;
    }

    .col:first-child {
        grid-column: 2 / span 1;
    }
}

/* Template page */

.page-title {
    font-size: var(--title);
    grid-column:  2 / -2;
    margin-bottom: 0;
}

.page-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background: var(--yellow);
    margin-top: -40px;
    margin-left: 15px;
}

.subtitle {
    font-size: var(--intro-text);
    grid-column: 2 / -2;
    margin: .5em 0 1.5em;
}

.main-template {
    padding: 4em 0;
}

.main-template > * {
    grid-column: 2 / -2;
}

.main-image {
    margin-bottom: 1.5em;
    box-shadow: 5px 5px 0px var(--black), 10px 10px 0 var(--yellow);
}

@media (min-width: 600px) {
    .main-image {
        grid-column: 2;
    }

    .main-text {
        grid-column: 3 / span 2;
    }

}